@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Age Guessing App</h1>
    <p>Input your birthday and we will accurately guess your age.</p>

    <form method="post">
        <div class="form-group">
            <label class="form-label" for="bday">Your birthday</label>
            <input required class="form-control" id="bday" type="date" asp-for="BirthDay" />
            <button type="submit">Guess</button>
        </div>
    </form>

    @if(ViewData["Age"] is not null)
    {
        <h3>@ViewData["Age"]</h3>
    }
</div>
